@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    .img{
        width: 100vw;
        max-width: 500px;
    }

    div.ingredientes, div.preparo{
        max-width: 500px;
        
    }

    section.container{
        width: 60vw;
    }

}

@media screen and (min-width: 992px){
    
    .img{
        width: 100vw;
        max-width: 510px;
         
    }

    div.ingredientes, div.preparo{
        max-width: 510px;
    }

    section.container{
        width: 70vw;
        height: 75vh;
    }

    div.conteudo{
        width: 60vw;
        height: 50vh;
    }

    div.conteudo > p{
        margin-top: 80px;
    }
}