@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@400;600&family=Lora:wght@400;700&display=swap');


:root{
    --cor01: #FF7A00; /*Botões, títulos, links, destaques*/
    --cor02: #E85C1F; /*Hover, menus, detalhes importantes*/
    --cor03: #FFF5E1; /*Fundo de seções, áreas de receitas*/
    --cor05: #FFFFFF; /*Fundo principal e contraste com textos*/
    --cor06: #333333; /*Textos, descrições e ingredientes*/
    --cor07: #efdab0;

    --fonte-titulo: 'Dancing Script', cursive;
    --fonte-subtitulo: 'Josefin Sans', sans-serif;
    --fonte-texto: 'Lora', serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor03);
}
.imagem-logo{
    width: 160px;
    height: 140px;
    display: block;
    margin: auto;
}
header{
    background-color: var(--cor07);
    height: 170px;
}
header > h1{
    text-align: center;
    color: var(--cor02);
    font-family: var(--fonte-titulo);
    font-weight: bolder;
    font-size: 2.5em;
}
nav{
    background-color: var(--cor07);
    height: 30px;
    padding-top: 55px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-family: var(--fonte-texto);
    font-weight: bold;
}
nav > a{
    padding: 10px;
    text-decoration: none;
    color: var(--cor01);
}

nav > a:hover{
    background-color: var(--cor05);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

main > h2{
    text-align: center;
    font-family: var(--fonte-subtitulo);
    font-size: 2em;
    color: var(--cor02);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    padding: 35px;
}

main > section.conteudo{
    background-image: url("imagens/img001.jpg");
}

footer{
    background-color: var(--cor07);
}

footer > p{
    text-align: center;
    font-family: var(--fonte-texto);
    padding: 4px;
    font-size: 0.8em;
    color: var(--cor06);
    font-weight: bold;
}